@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*{

}

body{
    background-color: #F7F7F9;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: #DB2270;
    color: white;
    text-align: center;
    font-size: 24px;

    padding: 25px 0;
}

article{
    max-width: 850px;
    margin: auto;
    padding-top: 50px;
    padding: 8px;

}

#titulo-sessao{
   margin-bottom: 50px; 
}

.autor-post{
   color: #6c6c6c;
   font-size: 12px;
   font-weight: 100;
   line-height: 18px;
}

#by-name{
    color: black;
    text-decoration: none;
}

#by-name:hover{
    font-size: 12.2px;
}

h1{
    font-size: 52px;;
    line-height: 58px;
    letter-spacing: 1.3px;

    margin: 0;
    margin-bottom: 10px;
}

.share-post span{
    margin-right: 4px;
    margin-top: 0;
}

.share-post img{
    vertical-align: middle;
}

.share-post, .links-title{
    font-size: 12px;
    font-weight: 600;
    transform: ;
    line-height: 22px;
}

.links-title{
    margin-bottom: 10px;
    font-size: 15px;
}

.uppercase{
    text-transform: uppercase;
}

.hero-image{
    margin: 50px 0px;
}

.hero-image img{
    max-width: 100%;
}

article p{
    line-height: 24px;
    text-align: justify;
    text-indent: 20px;
}

#texto-artigo{
    max-width: 680px;
    margin: auto;
}

iframe{
    margin: 30px 0px;
    max-width: 100%;
}

footer{
    background-color: #f5f4f4;
    max-width: 680px;
    
    margin: auto;
    padding: 20px 15px;
    margin-bottom: 70px;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li{
    margin-bottom: 10px;
}

footer ul li:last-of-type{
    margin-bottom: 0;
}
